.desktop-1 {
    color: #000;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 26px 11px 10px 66px;
    font-family: Inter, Arial;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    display: flex;
  }
  
  .vancances {
    align-self: flex-start;
    margin-top: 4px;
    margin-bottom: 96px;
  }
  
  .where-is-your-place {
    margin-top: 26px;
  }
  
  .frame-4 {
    text-align: center;
    width: 55%;
    background-color: #d9adad;
    border-radius: 25px;
    flex-direction: row;
    flex-basis: 6%;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
    font-weight: 100;
    display: flex;
  }
  
  .mdiaddress-marker {
    width: 55px;
    height: 48px;
    object-fit: cover;
  }
  
  .enter-the-address {
    margin-top: 1px;
  }
  
  .flex-container {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    display: flex;
  }
  
  .back {
    margin-bottom: 42px;
    margin-right: 13px;
    text-decoration: underline;
  }
  
  .rectangle {
    width: 933px;
    height: 547px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-left: 7px;
  }
  
  .next {
    margin-bottom: 42px;
    text-decoration: underline;
  }
  